@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --font-primary: 'Roboto', serif;
    --theme-primary: #2d3034;
    --theme-primary-accent: #377dbe;
    --theme-primary-shadow: #15171a;
    --theme-primary-shadow-rgb: 21, 23, 26;
    --theme-primary-lighter: #808387;
    --theme-primary-text: #c0b8b8;
    --theme-primary-green: #469e46;
    --theme-primary-red: #a83a3a;
}
